aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
blinker==1.8.2
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
crcmod==1.7
cryptography==45.0.4
Flask==2.3.3
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==0.10.0
MarkupSafe==2.1.5
oss2==2.18.4
packaging==25.0
Pillow==10.0.1
pycparser==2.22
pycryptodome==3.23.0
PyMySQL==1.1.0
python-dotenv==1.0.0
requests==2.31.0
six==1.17.0
SQLAlchemy==2.0.23
typing_extensions==4.13.2
urllib3==2.2.3
Werkzeug==2.3.7
zipp==3.20.2
